
<html><head>




    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" media="all" href="/assets/application-a8ca4c276281a74646e94609ae4a0eee0a7918869ecc82a06fbbc9997e6fc3b5.css" data-turbolinks-track="reload">
    <script src="/packs/js/application-9afcbb5693aa87623e69.js" data-turbolinks-track="reload"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <title>PoteShare</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="PFndYH9bUuCtff303iNEpWdAaNYrv+bTdc0qVPTZOBcDQ/lEgvZjNElQtLE0rZArnU/ZtC2K6OM0M3VQOljk5w=="></head>

  <body>
    <header class="header">
  <div class="header-inner">
    <div class="header-left-nav">
        <a href="http://localhost:3000/pages/index"><img alt="サイトのロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"></a>
        <form action="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search" accept-charset="UTF-8" method="get">
        <div class="header-sharch d-lg-inline-block d-none">
          <input type="text" name="area" id="area" value="" class="form-control" placeholder="エリア">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="header-sharch d-lg-inline-block d-none">
          <input type="text" name="keyword" id="keyword" value="" class="form-control" placeholder="キーワード">
          <i class="fas fa-search"></i>
        </div>
        <input type="submit" name="commit" value="" class="d-none" data-disable-with="">
</form>    </div>
    <div class="header-right-nav">
      <div class="nav-item d-sm-inline-block d-none">
        momo
      </div>
      <div class="nav-item">
        <img class="mx-3 p-1 host-icon nav-trigger" alt="メニュー" src="/assets/default_icon-9263fc59c414b7228d256fc178dcb22183561357950a68f5ad086ba7ee054974.jpg">
        <ul class="header-nav-menu">
          <li><a href="/rooms/new">ルーム登録</a></li>
          <li><a href="/reservations">予約済みルーム一覧</a></li>
          <li><a href="/rooms/posts">登録済みルーム一覧</a></li>
          <li><a href="/users/account">設定</a></li>
          <li><a rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="clearfix"></div>

<script>
  $(function() {
    $('.nav-trigger').click(function() {
          $('.header-nav-menu').toggle(1500);
      })
  });
</script>
    <div class="notifications">
    </div>
    <div class="container-fiuld room-new">
    <div class="row">
        <div class="col-lg-2 room-nav room-nav-pc d-lg-block d-none">
    <ul>
        <li class="active"><a href="/rooms/new">基本情報</a></li>
    </ul>
</div>
<div class="col-lg-2 room-nav room-nav-mobile d-lg-none">
    <ul>
        <li class="active"><a href="/rooms/new">基本情報</a></li>
    </ul>
</div>
        <div class="col-lg-10 room-view">
            <div class="room-view-box">
                <form class="new_room" id="new_room" enctype="multipart/form-data" action="/rooms" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="RsKM6oZnvzeX1SRvLtSpnd8RypajEgiStY2DpNl2yCNEXdZYnco2Bcn52hUkshOACifaV2e4FYfJHwJxHBJHGg==">
                    <div class="update-content">
                        <div class="row">
                   <h5>ルーム情報登録</h5>


                            <%= form_with model:@room do |f| %>
                        </div>
                    </div>
                    <div class="update-content">
                    <div class="form-control mb-4 col-md-9">
                        <div class="row">
                            <label class="col-md-3 required-a" for="name">ルーム名</label>
                             <%=f.text_field  :name ,:placeholder=>"ルーム名を入力" %>

                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <label class="col-md-3 required-a" for="content">ルーム紹介</label>
                            <%=f.text_area :content ,:placeholder=>"ルーム説明を入力" %>

                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <label class="col-md-3 required-a" for="price">料金</label>
                             <%=f.text_field  :price ,:placeholder=>"一日あたりの料金を入力"  %>

                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <label class="col-md-3 required-a" for="address">住所</label>
                             <%=f.text_field :address ,:placeholder=>"住所を入力" %>


                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <label class="col-md-3 required-a" for="image">ルーム画像</label>
                            <%=f.file_field  :image ,:placeholder=>"ルーム画像をアップロード" %>

                        </div>
                    </div>
                    </div>
                    <%end%>

                    <div class="update-content">
                        <div class="row">
                            <input type="submit" name="commit" value="登録" class="col-md-2 btn btn-primary mx-3" data-disable-with="登録">
                        </div>
                    </div>
                </form></div>
        </div>
    </div>
</div>
    <footer class="footer">
    <p>© 2020 POTEPAN.INC.</p>
</footer>

</body></html>